 body {
  margin: 20px;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

header, nav, main {
  display: flex;
  flex-direction: column;
  text-align: left;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.about_text {
  border-left: 2px solid black;
  padding-left: 10px;
  color: #69696a;
}

.button {
  background-color: black;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  color: white;
}

main {
  padding: 50px;
}
footer {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 600px) {
  .circle1 {
    width: 100px;
    height: 100px;
    background-color: #cf82d5;
    border-radius: 50%;
    position: absolute;
    right: 30px;
    top: 50px;
  }
  .circle2 {
    width: 150px;
    height: 150px;
    background-color: #f7c1a2;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 120px;
  }
  .circle3 {
    width: 200px;
    height: 200px;
    background-color:#f788a7;
    border-radius: 50%;
    position: absolute;
    right: 90px;
    top: 40px;
  }

  header, nav {
    flex-direction: row;
    align-items: center;
  }

  header {
    justify-content: space-between;
  }

  nav a {
    margin-left: 10px;
  }

  main {
    flex-direction: row;
  }

  .about {
    width: 50%;
  }

  .circles {
    position: relative;
    width: 50%;
  }

}